
# tumor_detection
 tumor_detection/model/
 tumor_detection/__pycache__/
 *.pyc
 .DS_Store
tumor_detection/model/
tumor_detection/__pycache__/
.DS_Store

# macOS
.DS_Store
**/.DS_Store
# Python
__pycache__/
**/__pycache__/
*.py[cod]
.ipynb_checkpoints/
